.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.code-container{
  align-items: center;
  background-color: #282a36;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  display: flex;
  flex: 3;
  flex-direction: column;
  height: 95%;
  margin: 20px;
  width: 80%;
}

.contract-container-container {
  align-items: center;
  background-color: rgb(39 207 230);
  display: flex;
  flex-direction: row;
  flex: 15;
  justify-content: center;
}

.contract-container-box {
  align-items: center;
  background-color: white;
  border: 2px solid gray;
  border-radius: 10px;
  color: black;
  flex: 10;
  height: 95%;
  width: 80%;
}

.contract-header {
  align-content: center;
  align-items: center;
  background-color: rgb(39 190 230);
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  display: flex;
  flex: 5;
  flex-direction: row;
  font-size: 1em;
  justify-content: center;
  margin: 0em 2em;
  padding: 1em;
}

.info-header {
  flex: 1;
  text-align: right;
}

.instruction-node-assign {
  background-color: white; 
  margin: 2px;
  padding: 2px;
  text-align: left;
  font-size: 5pt;
}

.instruction-node-content {
  align-items: center;
  align-content: center;
  font-size: 0.5em;
  padding: 100;
  text-align: center;
  text-shadow: 1px 1px 1px gray; 
}

.instruction-node-input {
  background-color: white; 
  margin: 2px;
  padding: 2px;
  text-align: left;
  font-size: 5pt;
}